
.clear {
    clear: both;
    height: 1px;
}

ul.dates {

}

div.dates li {
    float: left;
    padding: 6px 6px;
    margin: 5px 5px;
    border: 1px solid #999999;
    background-color: #EDEDED;
    list-style-type: none;
    cursor: pointer;
}

ul {
    display: block;
    width: 100%;
    margin: 0px;
}
ul.current li {
    float: left;
    padding: 6px 10px;
    list-style-type: none;
    margin: 10px 10px;
    border: 2px solid #999999;
}

#curr_plug_command {
    cursor: pointer;
}

button {
    clear: both;
    margin: 0px 0px 6px 5px ;
    display: block;
    padding: 6px 10px;
    border: 1px solid #999999;
    background-color: #AAA;
}